* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    border: none;
}

:root {
    --color-bg: #e5e5e5;
    --color-white: #ffffff;
    --color-light: #F3F3FB;
    --color-light-variant: #FDFBFD;
    --color-primary: #2A8BF2;
    --color-primary-variant: #7CB8F7;
    --color-grey: #707C97;
    --color-grey-variant: #B7BDCB;
    --color-skyblue: #0D1C2E;
    --color-danger: #FF3366;
    --color-danger-variant: #FF3366;

    --transition: all 600ms ease;

    --container-width-lg: 100%;
    --container-width-md: 100%;
    --container-width-sm: 100%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: primaryFont;
    src: url(./assets/fonts/TTNorms-Medium.otf);
}

body {
    font-family: primaryFont;
    background-color: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.12rem;
}

.text-grey {
    color: var(--color-grey);
}

.text-light {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: .4rem;
    transition: var(--transition);
    cursor: pointer;
    background: linear-gradient(to right, var(--color-primary-variant), var(--color-primary));
    color: var(--color-light);
    border: 2px solid var(--color-light-variant);
}

.btn:hover {
    background: var(--color-light);
    color: var(--color-primary);
    border-color: var(--color-primary);

}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* =============Media Queries for Medium Devices============== */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md)
    }
}

/* =============Media Queries for Small Devices============== */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm)
    }

}